<footer class="footer">
        <div class="footer-content">
            <p>&copy; 2024 Pokedex.</p>
            <ul class="footer-links">
                <li><a href="">Home</a></li>
            </ul>
        </div>
    </footer>

@code {

     
}
