<div class="sidebar">
        <div class="sidebar-brand">Pokedex
            <ul class="sidebar-nav">
                <li class="nav-item"><a href="home" class="nav-link">Inicio</a></li>
                <li class="nav-item"><a href="#" class="nav-link">Acerca de</a></li>
            </ul>
        </div>
</div>
